* {
    margin: 0;
}
h1{
    text-align: center;
}
.clear {
    clear: both;
}


body {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}


/*Formulario*/


.h1 {
    border-bottom: 1px solid #B16412;
    text-align: center;

}
/*footer{
    
}*/

.zona1 {
  background-color: #F9E6D2;
    border-bottom: 1px solid #B16412;
}




.izquierda {
    float: left;
    width: 100px;
    text-align: right;
    padding: 10px;
}

.centro {
    float: left;
    padding: 10px;
}

.etiqueta{
    display: block;
    font-size: small;
}


.lista {
    list-style-type: none;
}

.contenedor {
font-size: small;
    width: 1000px;
    height: 800px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.input {
    padding: 5px;
}



.largeinput {
    width: 300px;
}

.smallinput {
    width: 100px;
}
