*{
    padding: 0;
    margin: 0;
}
.zona{
    background-color: #F9E6D2;
    border-bottom: 1px solid #B16412;
}
.text{
    display: block;
    font-size: small;
}
.centro{
    float: left;
    padding: 20px;
	text-align:center;
	margin: 50px;
	margin-left: 44%;
}
h1{
    text-align: center;
}
footer{
	text-align: center;
	margin: 25em;
	background-color: #F9E6D2;
    border-bottom: 1px solid #B16412;
}
form{
	text-align: center;
}